# Ignore Visual Studio 2008 files
*.vsp
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.sdf
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
*.ReSharper.user
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
Thumbs.db
Nop.Web/Plugins/*
src/UpgradeLog.XML
_UpgradeReport_Files*/
Thumbs*/
src/Presentation/Nop.Web/Plugins/*
