<div class="searchbox">
    @using (Html.BeginRouteForm("ProductSearch", FormMethod.Get, new { onsubmit = "return check_small_search_form()" }))
    {
        <div class="input-append">
            <input id="small-searchterms" class="searchboxtext" name="q" size="16" type="text" placeholder="@T("Search.SearchBox.Tooltip")"><button class="btn" id="btn-small-search" type="submit">@T("Search")</button>
        </div>

        <script type="text/javascript">

            function check_small_search_form() {
                var searchTerms = $("#small-searchterms");
                
                if (searchTerms.val() == "") {
                    alert('@T("Search.EnterSearchTerms")');
                    searchTerms.focus();
                    return false;
                }

                return true;
            }
        </script>
    }
</div>
