@model List<ExternalAuthenticationMethodModel>
@using Nop.Web.Models.Customer;
@if (Model.Count > 0)
{
    <ul>
        @foreach (var eam in Model)
        {
            <li>
                @Html.Action(eam.ActionName, eam.ControllerName, eam.RouteValues)
            </li>
        }
    </ul>
}
